{% extends "layout.html" %}

{% block body %}
		<h2>Add User information:</h2>
		<form method="post" action="">
			<label>First Name:</label><br/>
			<input type="text" name="firstname" value="{{ adminuser.firstname|safe }}"/><br/><br/>
			<label>Last Name:</label><br/>
			<input type="text" name="lastname" value="{{ adminuser.lastname|safe }}"/><br/><br/>
			<label>Nick Name (This is username for login):</label><br/>
			<input type="text" name="nickname" value="{{ adminuser.nickname|safe }}"/><br/><br/>
			<label>Password (This is password for login):</label><br/>
			<input type="text" name="password" value="{{ adminuser.password|safe }}"/><br/><br/>
			
			
			<br/><br/>
			<input type="submit" name="submit" value="Add"/><br/><br/>
		</form>		
{% endblock %}