{% extends "layout.html" %}
{% block body %}
	<h2>System Users Information</h2>
	<a href="/adminusers/add">Add New User</a>	
	{% if adminusersList.count() %}
		<table class="dataPSTable">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Nick Name</th>
			</tr>
		{% for adminuser in adminusersList %}
			<tr>
				<td>{{ adminuser.id|safe }}</td>
				<td>{{ adminuser.firstname|safe }}</td>
				<td>{{ adminuser.lastname|safe }}</td>
				<td>{{ adminuser.nickname|safe }}</td>
				<td><a href="/adminusers/edit/{{ adminuser.id|safe }}">Edit</a></td>
				<td><a href="/adminusers/delete/{{ adminuser.id|safe }}">Delete</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No system users available for now. You can add here <a href="/adminusers/add">Add New User</a></p>
    {% endif %}  
{% endblock %}
