{% extends "layout.html" %}

{% block body %}
		<h2>Mapped facilities:</h2>
		
		{% if facilityList.count() %}
			<table class="dataPSTable">
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Phone Number</th>
				</tr>
			{% for facility in facilityList %}
				<tr>
					<td>{{ facility.name|safe }}</td>
					<td>{{ facility.address|safe }}</td>
					<td>{{ facility.phonenumber|safe }}</td>
					<td><a href="/client/facility/remove/{{ client.id|safe }}/{{ facility.id|safe }}">Remove mapping</a></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>No mappings available for now.</p>
		{% endif %}
		
		
		<h2>Map Client with Facility:</h2>
		<form method="post" action="">
			<label>Client ID:</label><br/>
			<input type="text" name="client_id" readonly="readonly" value="{{ client.id|safe }}"/><br/><br/>
			
			<label>Client name:</label><br/>
			<input type="text" name="client_name" readonly="readonly" value="{{ client.firstname|safe }} {{ client.lastname|safe }}"/><br/><br/>
			
			<label>Facility name:</label><br/>
			<input id="facility_autocomplete" name="facility_name"/><br/><br/>
			<input type="hidden" id="facility_id" name="facility_id">
			
			<label>Need transportation to Facility:</label><br/>
			<input type="radio" name="trans_to_fac" value="1"/> Yes<br/>
			<input type="radio" name="trans_to_fac" value="0"/> No<br/>
			
			<br/>
			<label>Need transportation from Facility:</label><br/>
			<input type="radio" name="trans_from_fac" value="1"/> Yes<br/>
			<input type="radio" name="trans_from_fac" value="0"/> No<br/>
			
			<br/>
			<label>Special Transportation Notes:</label><br/>
			<textarea name="sp_trans_nts" rows="5" cols="50"/></textarea><br/><br/>
			
			<br/><br/>
			<input type="submit" name="submit" value="Add"/><br/><br/>
		</form>
		
		<script type = "text/javascript">
			$(document).ready(function(){
				$("#facility_autocomplete").autocomplete({
					source: "/getFacility/" + {{ client.id|safe }},
					minLength: 0,
					focus: function( event, ui ) {
						$( "#facility_autocomplete" ).val( ui.item.name );
						return false;
					},
					select: function( event, ui ) {
						$( "#facility_autocomplete" ).val( ui.item.name );
						$( "#facility_id" ).val( ui.item.id );
						return false;
					}
				}).autocomplete( "instance" )._renderItem = function( ul, item ) {
					return $( "<li>" ).append( "<div>" + item.name + "</div>" ).appendTo( ul );
				};
			});
		</script>	
{% endblock %}