{% extends "layout.html" %}
{% block body %}
	<h2>Clients Information</h2>
	<a href="/client/add">Add New Client</a>	
	{% if clientList.count() %}
		<table class="dataPSTable">
			<tr>
				<th>Fisrt Name</th>
				<th>Last Name</th>
				<th>Address</th>
			</tr>
		{% for client in clientList %}
			<tr>
				<td>{{ client.firstname|safe }}</td>
				<td>{{ client.lastname|safe }}</td>
				<td>{{ client.address|safe }}</td>
				<td><a href="/client/edit/{{ client.id|safe }}">Edit</a></td>
				<td><a href="/client/delete/{{ client.id|safe }}">Delete</a></td>
				<td><a href="/client/facility/registration/{{ client.id|safe }}">Facility Registration</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No clients available for now. You can add here <a href="/client/add">Add New Client</a></p>
    {% endif %}  
{% endblock %}
