{% extends "layout.html" %}
{% block body %}
	<h2>Facility Information</h2>
	<a href="/facility/add">Add New Facility</a>	
	{% if facilityList.count() %}
		<table class="dataPSTable">
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phone Number</th>
			</tr>
		{% for facility in facilityList %}
			<tr>
				<td>{{ facility.name|safe }}</td>
				<td>{{ facility.address|safe }}</td>
				<td>{{ facility.phonenumber|safe }}</td>
				<td><a href="/facility/edit/{{ facility.id|safe }}">Edit</a></td>
				<td><a href="/facility/delete/{{ facility.id|safe }}">Delete</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No facility available for now. You can add here <a href="/facility/add">Add New Facility</a></p>
    {% endif %}  
{% endblock %}
