{% extends "layout.html" %}
{% set days=['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
{% block body %}
		<h2>Add facility information:</h2>
		<form method="post" action="">
			<label>Name:</label><br/>
			<input type="text" name="name" value="{{ facility.name|safe }}"/><br/><br/>
			<label>Address:</label><br/>
			{% if facility.address %}
				Existing Address: {{ facility.address|safe }} <br />
			{% endif %}
			<input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" name="address"></input><br/><br/>
			
			{#<table id="address">
			  <tr>
				<td class="label">Street address</td>
				<td class="slimField"><input class="field" id="street_number"
					  disabled="true"></input></td>
				<td class="wideField" colspan="2"><input class="field" id="route"
					  disabled="true"></input></td>
			  </tr>
			  <tr>
				<td class="label">City</td>
				<!-- Note: Selection of address components in this example is typical.
					 You may need to adjust it for the locations relevant to your app. See
					 https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
				-->
				<td class="wideField" colspan="3"><input class="field" id="locality"
					  disabled="true"></input></td>
			  </tr>
			  <tr>
				<td class="label">State</td>
				<td class="slimField"><input class="field"
					  id="administrative_area_level_1" disabled="true"></input></td>
				<td class="label">Zip code</td>
				<td class="wideField"><input class="field" id="postal_code"
					  disabled="true"></input></td>
			  </tr>
			  <tr>
				<td class="label">Country</td>
				<td class="wideField" colspan="3"><input class="field"
					  id="country" disabled="true"></input></td>
			  </tr>
			</table>#}
	
			<label>Phone Number:</label><br/>
			<input type="text" name="phonenumber" value="{{ facility.phonenumber|safe }}" /><br/><br/>
			<label>Availability:</label><br/>
			{{ calendarDisplay|safe }}
			{#<input type="radio" name="frequency" value="weekly"> Weekly <br />
			<input type="radio" name="frequency" value="daily"> Daily <br />#}
			
			{#<div id="weekly_frequency">
				{% for day in days %}
					<input type="checkbox" name="availability" {% if day.lower() in facility.availability %} checked="checked" {% endif %} value="{{ day|lower }}"> {{ day|safe }} <br />
				{% endfor %}
			</div>#}
			
			{#<div id="daily_frequency">
				<input type="checkbox" name="availability" value="sunday"> Sunday <br />
				<input type="checkbox" name="availability" value="monday"> Monday <br />
				<input type="checkbox" name="availability" value="tuesday"> Tuesday <br />
				<input type="checkbox" name="availability" value="wednesday"> Wednesday <br />
				<input type="checkbox" name="availability" value="thursday"> Thursday <br />
				<input type="checkbox" name="availability" value="friday"> Friday <br />
				<input type="checkbox" name="availability" value="saturday"> Saturday <br />
			</div>#}
			
			<br/><br/>
			<input type="submit" name="submit" value="Add"/><br/><br/>
		</form>
		
		<script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgyhKX_x5nR3LXiDGKJg3OiyBAlsdbKaw&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock %}