{% extends "layout.html" %}
{% block body %}
	<h2>Welcome to passenger app</h2>
	<h3>Menu</h3>
	<a href="/facility">Facility Information</a><br />
	<a href="/client">Client Information</a><br />
	<a href="/transportation">Transportation Planning</a><br />
	<a href="/adminusers">System Users</a><br />
{% endblock %}


