{% extends "layout.html" %}
{% block body %}
  {% for facility in facilityList %}
    <div>
      <h2>{{ facility.name }}</h2>
      {{ facility.name|safe }}
    </div>
  {% else %}
    <em>Unbelievable.  No todos here so far <a href="/add">Add one</a></em>
  {% endfor %}
  <br/>
  

<form  method="post" name="test" action="/facility/addAction">
{{ form.hidden_tag() }}
<div>
{{ form.name.label }} <br />
{{ form.name }}
</div>
<div>
{{ form.address.label }} <br />
{{ form.address }}
</div>
<div>
{{ form.phonenumber.label }} <br />
{{ form.phonenumber }}
</div>
<div>
<input type="submit" name="submit" value="Submit">
</div>
</form>


{% endblock %}


