<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Waypoints in directions</title>
    <style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 70%;
        height: 100%;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="right-panel">
    <div>
		<table border="1">
			<thead>
				<tr>
					<th>Way Points</th>
					<th>Selection</th>
					<th>Start</th>
					<th>Destination</th>
				</tr>
			</thead>
			
			<tbody>
				{% for location in locations %}
					<tr>
						<td>{{ location.location }}</td>
						<td><input type="checkbox" name="waypoints" value="{{ location.location }}"></td>
						<td><input type="radio" name="start" value="{{ location.location }}"></td>
						<td><input type="radio" name="destination" value="{{ location.location }}"></td>
					</tr>
				{% else %}
					<tr><td colspan="4">Unbelievable.  No entries here so far</td></tr>
				{% endfor %}
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="4"><input type="submit" id="submit"></td>
				</tr>
			</tfoot>
			
		</table>
    </div>
    <div id="directions-panel"></div>
    </div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }
	  
	/*function getBetterRoute(waypts){

		var betterRoute
		
		var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);
		var orginal_waypts = waypts;
		console.log("waypts")
		console.log(waypts)
		console.log("orginal_waypts")
		console.log(orginal_waypts)
		for(x = 0; x < waypts.length; x++){
			for(y = 0; y < waypts.length; y++){
				if(x==y) continue;
				var origin = waypts[x];
				var destination = waypts[y];
								
				var new_waypts = [];
        
				for(var i in waypts){
					if(i == x || i == y){
						continue;
					}
					new_waypts.push(waypts[i]);
					//console.log(i); // alerts key
					//console.log(waypts[i]); //alerts key's value
				}
				
				console.log("new_waypts")
				console.log(new_waypts)
				
				var waypoints = new_waypts;
				waypts = orginal_waypts;
				console.log("waypoints")
				console.log(waypoints)
				var routeXY = RequestOptmizedRoute(directionsService, directionsDisplay, origin, destination, waypoints);

				if( betterRoute ==  null ){
					betterRoute = routeXY;
				}
				if( routeXY.distance < betterRoute.distance ){
					betterRoute = routeXY;
				}
			}
		}

		return betterRoute
	}
	
	function RequestOptmizedRoute(directionsService, directionsDisplay, origin, destination, waypoints){
		console.log("origin")
		console.log(origin)
		console.log("destination")
		console.log(destination)
		directionsService.route({
          origin: origin.location,
          destination: destination.location,
          waypoints: waypoints,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            console.log("response")
            console.log(response)
            console.log("status")
            console.log(status)
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
		
	}*/
		
      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
	  //console.log("start")
	  //console.log($("input[name='start']:checked").val())
        var waypts = [];
        
		/*var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value,
              stopover: true
            });
          }
        }*/
		

		$("input[name='waypoints']:checked").each(function () {
			waypts.push({
              location: $(this).val(),
              stopover: true
            });
		});
		//console.log (waypts);
		//getBetterRoute(waypts)
		

        directionsService.route({
          origin: $("input[name='start']:checked").val(),
          destination: $("input[name='destination']:checked").val(),
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgyhKX_x5nR3LXiDGKJg3OiyBAlsdbKaw&callback=initMap">
    </script>
	
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
  </body>
</html>