{% extends "layout.html" %}
{% block body %}
	<h2>Transportation Screen</h2>
	<label>Facility name:</label><br/>
	<input id="facility_autocomplete" name="facility_name"/> <span><button type="button" name="getClientList" id="getClientList">Get Client List</button></span><br/><br/>
	<input type="hidden" id="facility_id" name="facility_id">
	
	<div id="client_list">
	</div>
	
	<script type = "text/javascript">
		$(document).ready(function(){
			$("#facility_autocomplete").autocomplete({
				source: "/getAllFacility",
				minLength: 0,
				focus: function( event, ui ) {
					$( "#facility_autocomplete" ).val( ui.item.name );
					return false;
				},
				select: function( event, ui ) {
					$( "#facility_autocomplete" ).val( ui.item.name );
					$( "#facility_id" ).val( ui.item.id );
					return false;
				}
			}).autocomplete( "instance" )._renderItem = function( ul, item ) {
				return $( "<li>" ).append( "<div>" + item.name + "</div>" ).appendTo( ul );
			};
			
			$("#getClientList").click({
				facility_id = $("#facility_id").val();
				$.ajax({url: "getClientList/"+facility_id, success: function(result){
					$("#client_list").html(result);
				}});
			})
		});
	</script>	
{% endblock %}
